/* Global */
/* Variable */
$color-one: #fed136; 
$color-two: #a7a7a7; 
$color-three:#ccc9c9; 
$color-four: #ffffff; 
$color-text-one: #2c2c54; 
$transition: all 1s;

*, *::befor, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.7;
    font-size: 16px;
    color: $color-text-one;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

section {
    padding: 120px 0;
}
 a {
    text-decoration: none;
 }

 h1 {
    font-size: 48px;
    margin: 0;
 }

 h3 {
    margin: 0 auto 30px;
    font-style: italic;
    font-weight: 400;
    color: $color-two;
 }

 p {
    color: $color-two;
    margin-top: 0;
 }

/* navigation */

.navigation {
   background-color: inherit; 
}

.navigation ul {
    padding: 0;
    margin: 0;
    position: absolute;
    list-style-type: none;
    top: 5vmax;
}

.navigation .first {
    right: 16vmax;
}

.navigation .second {
    left: -2vmax;
}

.first a {
    color: $color-four;
    font-size: 20px;
}

.second a {
    color: $color-one;
    font-size: 28px;
    font-style: italic;
}

.navigation ul li {
    display: inline-block;
    position: relative;
    margin: 0 45px 0 0;
}

.btn {
    color: $color-four;
    display: inline-block;
    min-width: 275px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    background-color: $color-one;
    background-position: 100% 0;
    background-size: 300%;
}

.btn:hover {
    color: $color-one;
    background-color: lighten($color-one, 25%);
    opacity: 0.8;
}

/* Splash */

.splash {
    background-image: url(../images/Background_Image.png);
    background-size: cover;
    min-height: 930px;
    display: flex;
    text-align: center;
}

.splash-inner {
    position: absolute;
    margin: 5% auto;
    font-size: 36px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-four;
}
.splash-inner h1 {
    font-size: 95px;
    margin: 0 auto;
}

.splash-inner h2 {
    margin: 0 auto;
}

/* services*/

.services {
    text-align: center;
}


.flex-1 {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 10px;
    text-align: center;
}

.flex-1 i {
    color: $color-one;
    font-size: 35px;
    height: 70px;
    width: 70px;
    margin: 0 auto;
    line-height: 70px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    margin-top: 20px;
}
